/*@import url(Root.css);*/

.root {
    -fx-primary: #416A45;
    -fx-secondary: #F9EEC3;
    -fx-background: #F2FEB4;
}

.text {
    -fx-font-size: 20px;
}

.button {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-secondary;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 20px;
    -fx-text-alignment: left;
    -fx-background-insets: 4 2 2 2;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-effect: dropshadow(three-pass-box, -fx-primary, 10, 0, 0, 0);
    -fx-cursor: hand;
}

/*.button:focused {*/
/*    -fx-border-width: 4px;*/
/*    -fx-border-color: black;*/
/*}*/

#title-text {
    -fx-text-fill: -fx-primary;
    -fx-fill: -fx-primary;
    -fx-font-size: 40px;
}

#home-subtext {
    -fx-font-size: 20px;
    -fx-fill: -fx-primary;
}

.text-field {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
    -fx-padding: 10px;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-font-size: 15;
    -fx-text-fill: -fx-secondary;
    -fx-prompt-text-fill: -fx-secondary;
    -fx-pref-height: 60;
}

.text-field:focused {
    -fx-prompt-text-fill: transparent;
}

.text-field:hover {
    -fx-cursor: text;
}

#home-root {
    -fx-background-color: -fx-background;
}

#recipe-root {
    -fx-background-color: -fx-background;
}

#inventory-root {
    -fx-background-color: -fx-background;
}

#meal-root {
    -fx-background-color: -fx-background;
}

#shopping-list-root {
    -fx-background-color: -fx-background;
}

#new-recipe-button {
    -fx-pref-height: 60;
    -fx-pref-width: 200;
}

#new-recipe-button:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-primary, 10, 0, 0, 0);

}

#sidebar {
    -fx-background-color: -fx-primary;
    -fx-pref-width: 200;
    -fx-background-radius: 20;
}

#recipe-card {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
    -fx-pref-width: 4000;
}

#recipe-card:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-primary, 10, 0, 0, 0);
    -fx-text-fill: -fx-secondary;
    -fx-cursor: hand;
}

#recipe-card:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-primary, 10, 0, 0, 0);
    -fx-cursor: hand;
}

#generic-text {
    -fx-fill: -fx-secondary;
    -fx-font-size: 20px;
}

#recipe-scroll-pane {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

#back-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#button-container {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
}

#ingredient-container {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
}

#sub-title {
    -fx-fill: -fx-secondary;
    -fx-font-size: 25px;
}

#recipe-instructions {
}

#recipe-content {
    -fx-background-color: transparent;
}

#ingredient-view {
    -fx-background-color: -fx-primary;
    -fx-background: transparent;
    -fx-background-radius: 20;
}

#inventory-list {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

#ingredient-content {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 20;
}